.nav {
    /* Add flex properties here */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.nav__links {
    margin-top: 0px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

}

.nav__link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s ease-in-out;
}


.nav__link:hover{
    color: #2F80ED;

}

